<div class="app">
  <div class="container">
    <div class="top-nav">
      <h2>The truth is out there</h2>


      <ul class="nav-right">
        <li>{{#link-to "index"}}Home{{/link-to}}</li>
        <li>{{#link-to "aliens-list"}}Sitings{{/link-to}}</li>
        <li>{{#link-to "near-earth" 0}}NEO{{/link-to}}</li>
        <li>{{#link-to "cats"}}Cats!{{/link-to}}</li>
      </ul>
    </div>
  </div>

  {{outlet}}
</div>
