<h1>Welcome To Earth!</h1>

<img src="http://www.indiewire.com/wp-content/uploads/2013/06/independence-day-will-smith-welcome-to-earth-close-encounter.jpg" alt="">

{{#link-to "near-earth" "0"}}
  See what's out there
{{/link-to}}

{{outlet}}
